In [1]:
import pandas as pd
import os

In [19]:
filerute = r'C:\Users\johan\OneDrive\Marcobre\1.0 PROJECTS\01. Crear budget de mantenimiento\hr2csv\TECSUP\HR\HOJA DE RUTA V5'

listHRfiles = os.listdir(filerute)
HRfiles = [a for a in listHRfiles if a.find('xlsx')>1]

counter = 0
HRdb1 = pd.DataFrame(columns=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17])
for m in HRfiles:
    for n in range(2):
        HRdb = pd.read_excel(os.path.join(filerute,m),sheet_name=n,header = None,skiprows=6)
        HRdb1 = pd.concat([HRdb,HRdb1])
        
        print(str(counter)+" - "+str(n)+" - "+str(HRdb.shape)+" - "+str(HRdb1.shape)+m)
    counter = counter +1

0 - 0 - (421, 18) - (421, 18)5._Carga de hoja de ruta - GRUPO 10 V5.xlsx
0 - 1 - (1499, 18) - (1920, 18)5._Carga de hoja de ruta - GRUPO 10 V5.xlsx
1 - 0 - (1139, 18) - (3059, 18)5._Carga de hoja de ruta - GRUPO 11 EQ CAL V5.xlsx
1 - 1 - (590, 18) - (3649, 18)5._Carga de hoja de ruta - GRUPO 11 EQ CAL V5.xlsx
2 - 0 - (6008, 18) - (9657, 18)5._Carga de hoja de ruta - GRUPO 11 EQ PTO V5.xlsx
2 - 1 - (2531, 18) - (12188, 18)5._Carga de hoja de ruta - GRUPO 11 EQ PTO V5.xlsx
3 - 0 - (2103, 18) - (14291, 18)5._Carga de hoja de ruta - GRUPO 11 UBT CAL V5.xlsx
3 - 1 - (711, 18) - (15002, 18)5._Carga de hoja de ruta - GRUPO 11 UBT CAL V5.xlsx
4 - 0 - (973, 18) - (15975, 18)5._Carga de hoja de ruta - GRUPO 11 UBT CAL V6.xlsx
4 - 1 - (711, 18) - (16686, 18)5._Carga de hoja de ruta - GRUPO 11 UBT CAL V6.xlsx
5 - 0 - (375, 18) - (17061, 18)5._Carga de hoja de ruta - GRUPO 12 EQ CAL V5.xlsx
5 - 1 - (262, 18) - (17323, 18)5._Carga de hoja de ruta - GRUPO 12 EQ CAL V5.xlsx
6 - 0 - (2693, 18) - (20016, 18)5._Carga de hoja de ruta - GRUPO 12 EQ PTO V5.xlsx
6 - 1 - (1037, 18) - (21053, 18)5._Carga de hoja de ruta - GRUPO 12 EQ PTO V5.xlsx
7 - 0 - (4422, 18) - (25475, 18)5._Carga de hoja de ruta - GRUPO 12 UBT PTO V5.xlsx
7 - 1 - (2333, 18) - (27808, 18)5._Carga de hoja de ruta - GRUPO 12 UBT PTO V5.xlsx
8 - 0 - (18227, 18) - (46035, 18)5._Carga de hoja de ruta - GRUPO 4 V5.xlsx
8 - 1 - (4875, 18) - (50910, 18)5._Carga de hoja de ruta - GRUPO 4 V5.xlsx
9 - 0 - (9867, 18) - (60777, 18)5._Carga de hoja de ruta - GRUPO 5,6 V5.xlsx
9 - 1 - (3908, 18) - (64685, 18)5._Carga de hoja de ruta - GRUPO 5,6 V5.xlsx
10 - 0 - (5383, 18) - (70068, 18)5._Carga de hoja de ruta - GRUPO 7 V5.xlsx
10 - 1 - (3558, 18) - (73626, 18)5._Carga de hoja de ruta - GRUPO 7 V5.xlsx
11 - 0 - (6517, 18) - (80143, 18)5._Carga de hoja de ruta - GRUPO 8 V5.xlsx
11 - 1 - (3541, 18) - (83684, 18)5._Carga de hoja de ruta - GRUPO 8 V5.xlsx
12 - 0 - (5552, 18) - (89236, 18)5._Carga de hoja de ruta - GRUPO 9 V5.xlsx
12 - 1 - (2710, 18) - (91946, 18)5._Carga de hoja de ruta - GRUPO 9 V5.xlsx
13 - 0 - (5550, 18) - (97496, 18)5._Carga de hoja de ruta - GRUPO 9 V6.xlsx
13 - 1 - (2710, 18) - (100206, 18)5._Carga de hoja de ruta - GRUPO 9 V6.xlsx
14 - 0 - (1487, 18) - (101693, 18)5._Carga de hoja de ruta - PUERTO 2 (GRUPO 2).xlsx
14 - 1 - (701, 18) - (102394, 18)5._Carga de hoja de ruta - PUERTO 2 (GRUPO 2).xlsx
15 - 0 - (816, 18) - (103210, 18)5._Carga de hoja de ruta - PUERTO V1 PRD (GRUPO 1).xlsx
15 - 1 - (272, 18) - (103482, 18)5._Carga de hoja de ruta - PUERTO V1 PRD (GRUPO 1).xlsx
16 - 0 - (2971, 18) - (106453, 18)5._Carga de hoja de ruta JP11 PRD (GRUPO 3).xlsx
16 - 1 - (867, 18) - (107320, 18)5._Carga de hoja de ruta JP11 PRD (GRUPO 3).xlsx

In [20]:
rutecomp = r'C:\Users\johan\OneDrive\Marcobre\1.0 PROJECTS\01. Crear budget de mantenimiento\hr2csv\TECSUP\HR'
HRdb1.to_csv(rutecomp + r'\allHRdata.csv',encoding='utf-8',index = False)

In [22]:
HRdb1.shape

(107320, 18)

In [23]:
HRdb1.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,1,10016632,X1,COND_MEC_CELDA Cambio botella o rodamien,TEC-MEC,JP11,4.0,P01,4.0,1.0,HOR002,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,10016632,10,TEC-MEC,PM01,Cambio botella y/o rodam (en taller),16.0,H,2.0,8.0,H,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,10016632,Cambio botella y/o rodam (en taller),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,10016632,Abrir el botella para dejar visibles y expuest...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,10016632,"internos, retirar sellos laberinto, tuercas de...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN