In [2]:
import pandas as pd
import os

In [3]:
filefolder = r'C:\Users\johan\OneDrive\Marcobre\1.0 PROJECTS\01. Crear budget de mantenimiento\hr2csv'
filename = r'5._Carga de hoja de ruta - GRUPO 5.xlsx'

In [4]:
filerute = os.path.join(filefolder,filename)

In [5]:
db = pd.read_excel(filerute,sheet_name=0, skiprows = 6, header = None)

In [7]:
db.head(3)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,1,MBOM020,M1,INSP_MEC_BOMBA_SUMMIT 2196MTO-7,TEC-MEC,JP11,4.0,P01,4.0,1.0,HOR002,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,MBOM020,10,TEC-MEC,PM01,Inspeccion mantenimiento de acople 2000H,1.0,H,1.0,1.0,H,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,MBOM020,Inspeccion mantenimiento de acople 2000H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN