In [79]:
import pandas as pd
import numpy as np
import os

In [58]:
folder = r'C:\Users\jcallomamanib\Documents\GitProjects\maintenanceApp\02. Data2HR\data'
asset_system = 'AssetStructureA&S.csv'
system_component = 'AssetStructureS&C.csv'
component_dutie = 'DutieStructureC&D.csv'
dutie_data = 'DutieStructureD&D.csv'
dutie_resource = 'DutieStructureD&R.csv'
ruteA_S = os.path.join(folder,asset_system)
ruteS_C = os.path.join(folder,system_component)
ruteC_D = os.path.join(folder,component_dutie)
ruteD_D = os.path.join(folder,dutie_data)
ruteD_R = os.path.join(folder,dutie_resource)

In [103]:
dataA_S = pd.read_csv(ruteA_S, dtype= {'System':str})
dataS_C = pd.read_csv(ruteS_C)
dataC_D = pd.read_csv(ruteC_D)
dataD_D = pd.read_csv(ruteD_D)
dataD_R = pd.read_csv(ruteD_R, dtype= {'Cod. Material':str})

In [123]:
dataD_D_1task = dataD_D.loc[dataD_D.loc[:,'Maintenance type'] != 'COND',:]
dataD_D_2task = dataD_D.loc[dataD_D.loc[:,'Maintenance type'] == 'COND',:]

In [140]:
dataD_D_1task.iloc[dataD_D_1task,[0,3,4,5,6,7,8,9]]

,key_dutie,Maintenance type,Especialist,Constraint,Time,Amount Craft,Estrategy,Unidad Periodo
0,2111-FE-201|01-01-01,INSP,TEC-ELE,MAR,1.0,2.0,1.0,M
1,2111-FE-201|01-01-02,PREV,TEC-ELE,DET,2.0,2.0,2000.0,H
2,2111-FE-201|01-01-03,PREV,TEC-ELE,DET,1.0,2.0,4000.0,H
3,2111-FE-201|01-01-04,PREV,TEC-ELE,DET,0.5,2.0,4000.0,H
4,2111-FE-201|01-01-05,PREV,TEC-ELE,DET,1.0,2.0,4000.0,H
...,...,...,...,...,...,...,...,...
16583,2281-TK-226|02-01-04,PREV,TEC-ELE,DET,2.0,2.0,1.0,A
16584,2281-TK-226|02-02-01,INSP,TEC-MEC,DET,0.5,1.0,1.0,A
16585,2281-TK-226|03-01-01,INSP,TEC-INS,MAR,1.0,2.0,1.0,M
16586,2281-TK-226|03-01-02,PREV,TEC-INS,DET,2.5,2.0,6.0,M
16588,2281-TK-226|03-02-01,PREV,TEC-INS,DET,1.0,2.0,6.0,M