In [46]:
import pandas as pd
import os
from datetime import date,time,datetime

In [41]:
rute = r'C:\Users\johan\OneDrive\Marcobre\1.0 PROJECTS\01. Crear budget de mantenimiento\hr2csv'
ip10name = r'Frecuencias de MTTO.xlsx'
mergeHRname = r'HR\csv\Loading 03.10.20V2\GR1_12.xlsx'

In [42]:
ip10rute = os.path.join(rute,ip10name)
mergeHRrute = os.path.join(rute, mergeHRname)

In [43]:
ip10 = pd.read_excel(ip10rute, sheet_name = 'IP10', header = 0)
mergeHR = pd.read_excel(mergeHRrute, sheet_name = 'mergeHR', header = 0)
mergeHR.drop(columns=['Oxidos','Nada1','Nada2','Nada3','Nada4','Nada5','Nada6','Nada7','Nada8','Nada9','Nada10','Nada11','Nada12'],inplace = True)

In [44]:
ip10.head()

,Estrategia,ClaveFrecuencia,Item,Frecuencia,Unidad,Descripcion Frecuencias,Secuencia,Jerarquia
0,HOR002,H1,1,50,H,50 Horas,1,1
1,HOR003,H2,2,165,H,165 Horas,2,2
2,HOR004,H3,3,330,H,330 Horas,3,3
3,HOR005,H4,4,660,H,660 Horas,4,4
4,HOR006,H5,5,750,H,750 Horas,5,5

In [45]:
mergeHR.head()

,Item,TAG,DescripcionEquipo,GrupoTS,GrupoHR,EqSAP,PuntoMedida,GrupoHREQ,Contador,HRPuesto,...,pos,Actividades,Puesto,ClaseOT,ACant,AHoras,posHRContador,Frecuencia,Material,MCantidad
0,0,5552-PU-518,BOMBA CENT GOULDS IC42 SIZE 150-125-315,1.0,MBOM001,10016566,13402,10016566,X1,TEC-MEC,...,10,Cambio de rodamientos de bomba,TEC-MEC,PM01,2,5.0,10016566X110,NaN,3045853.0,1.0
1,1,5552-PU-518,BOMBA CENT GOULDS IC42 SIZE 150-125-315,1.0,MBOM001,10016566,13402,10016566,X1,TEC-MEC,...,10,Cambio de rodamientos de bomba,TEC-MEC,PM01,2,5.0,10016566X110,NaN,3045849.0,1.0
2,2,5552-PU-518,BOMBA CENT GOULDS IC42 SIZE 150-125-315,1.0,MBOM001,10016566,13402,10016566,X1,TEC-MEC,...,10,Cambio de rodamientos de bomba,TEC-MEC,PM01,2,5.0,10016566X110,NaN,3045850.0,1.0
3,3,5552-PU-518,BOMBA CENT GOULDS IC42 SIZE 150-125-315,1.0,MBOM001,10016566,13402,10016566,X2,TEC-MEC,...,10,Mantenimiento de eje de impulsor bomba,TEC-MEC,PM01,2,4.0,10016566X210,NaN,3045855.0,1.0
4,4,5552-PU-518,BOMBA CENT GOULDS IC42 SIZE 150-125-315,1.0,MBOM001,10016566,13402,10016566,X2,TEC-MEC,...,10,Mantenimiento de eje de impulsor bomba,TEC-MEC,PM01,2,4.0,10016566X210,NaN,3045858.0,1.0

In [58]:
FechaInicio = '01-01-2020'
FechaFin = '31-12-2021'

In [62]:
datetime.strptime(FechaFin,r'%d-%m-%Y').date()

datetime.date(2021, 12, 31)

In [73]:
filerute = r'C:\Users\johan\OneDrive\Marcobre\1.0 PROJECTS\01. Crear budget de mantenimiento\hr2csv\HR'

In [74]:
listHRfiles = os.listdir(filerute)

In [87]:
HRfiles = [a for a in listHRfiles if a.find('xlsx')>1]

In [132]:
counter = 0
HRdb1 = pd.DataFrame(columns=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17])
for m in HRfiles:
    for n in range(2):
        HRdb = pd.read_excel(os.path.join(filerute,m),sheet_name=n,header = None,skiprows=6)
        HRdb1 = pd.concat([HRdb,HRdb1])
        
        print(str(counter)+" - "+str(n)+" - "+str(HRdb.shape)+" - "+str(HRdb1.shape)+m)
    counter = counter +1

0 - 0 - (428, 18) - (428, 18)5._Carga de hoja de ruta - GRUPO 10 (31.10 - PARTE2) V2.xlsx
0 - 1 - (1483, 18) - (1911, 18)5._Carga de hoja de ruta - GRUPO 10 (31.10 - PARTE2) V2.xlsx
1 - 0 - (1139, 18) - (3050, 18)5._Carga de hoja de ruta - GRUPO 11 EQ CON CAL (02.11) V2.xlsx
1 - 1 - (590, 18) - (3640, 18)5._Carga de hoja de ruta - GRUPO 11 EQ CON CAL (02.11) V2.xlsx
2 - 0 - (6008, 18) - (9648, 18)5._Carga de hoja de ruta - GRUPO 11 EQ CON PTO MEDIDA (02.11) V2.xlsx
2 - 1 - (2531, 18) - (12179, 18)5._Carga de hoja de ruta - GRUPO 11 EQ CON PTO MEDIDA (02.11) V2.xlsx
3 - 0 - (1953, 18) - (14132, 18)5._Carga de hoja de ruta - GRUPO 11 EQ CON UBTC (02.11) V2.xlsx
3 - 1 - (642, 18) - (14774, 18)5._Carga de hoja de ruta - GRUPO 11 EQ CON UBTC (02.11) V2.xlsx
4 - 0 - (421, 18) - (15195, 18)5._Carga de hoja de ruta - GRUPO 12 (03.11) EQ CON CAL.xlsx
4 - 1 - (278, 18) - (15473, 18)5._Carga de hoja de ruta - GRUPO 12 (03.11) EQ CON CAL.xlsx
5 - 0 - (2610, 18) - (18083, 18)5._Carga de hoja de ruta - GRUPO 12 (03.11) EQ CON PTO MEDIDA.xlsx
5 - 1 - (1021, 18) - (19104, 18)5._Carga de hoja de ruta - GRUPO 12 (03.11) EQ CON PTO MEDIDA.xlsx
6 - 0 - (4422, 18) - (23526, 18)5._Carga de hoja de ruta - GRUPO 12 (03.11) UBTC.xlsx
6 - 1 - (2333, 18) - (25859, 18)5._Carga de hoja de ruta - GRUPO 12 (03.11) UBTC.xlsx
7 - 0 - (9867, 18) - (35726, 18)5._Carga de hoja de ruta - GRUPO 5 Y 6 V2.xlsx
7 - 1 - (3908, 18) - (39634, 18)5._Carga de hoja de ruta - GRUPO 5 Y 6 V2.xlsx
8 - 0 - (5383, 18) - (45017, 18)5._Carga de hoja de ruta - GRUPO 7 (28.10) V2.xlsx
8 - 1 - (3558, 18) - (48575, 18)5._Carga de hoja de ruta - GRUPO 7 (28.10) V2.xlsx
9 - 0 - (6517, 18) - (55092, 18)5._Carga de hoja de ruta - GRUPO 8 (30.10) V2.xlsx
9 - 1 - (3541, 18) - (58633, 18)5._Carga de hoja de ruta - GRUPO 8 (30.10) V2.xlsx
10 - 0 - (5552, 18) - (64185, 18)5._Carga de hoja de ruta - GRUPO 9 (31.10) V2.xlsx
10 - 1 - (2710, 18) - (66895, 18)5._Carga de hoja de ruta - GRUPO 9 (31.10) V2.xlsx
11 - 0 - (1487, 18) - (68382, 18)5._Carga de hoja de ruta - PUERTO 2 (GRUPO 2).xlsx
11 - 1 - (701, 18) - (69083, 18)5._Carga de hoja de ruta - PUERTO 2 (GRUPO 2).xlsx
12 - 0 - (816, 18) - (69899, 18)5._Carga de hoja de ruta - PUERTO V1 PRD (GRUPO 1).xlsx
12 - 1 - (272, 18) - (70171, 18)5._Carga de hoja de ruta - PUERTO V1 PRD (GRUPO 1).xlsx
13 - 0 - (2971, 18) - (73142, 18)5._Carga de hoja de ruta JP11 PRD (GRUPO 3).xlsx
13 - 1 - (867, 18) - (74009, 18)5._Carga de hoja de ruta JP11 PRD (GRUPO 3).xlsx
14 - 0 - (18227, 18) - (92236, 18)5._Carga de hoja de ruta JP11 PRD 2 (GRUPO 4).xlsx
14 - 1 - (4606, 18) - (96842, 18)5._Carga de hoja de ruta JP11 PRD 2 (GRUPO 4).xlsx

In [131]:
HRdb1.shape

(96842, 18)